# ===== Unity =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# ===== Visual Studio / C# =====
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Others =====
*.log
*.tmp
*.bak
/2D-Action/Assets/Textures
/2D-Action/Assets/TilePalettes
/2D-Action/Assets/Editor
/2D-Action/Assets/Plugins
/2D-Action/Assets/Libraries
*.otf
/2D-Action/Assets/Audios
